* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  gap: 24px;
  
  position: absolute;
  width: 100%;
  height: 112px;
  left: 0px;
  top: 0px;
  
  background: rgba(26, 26, 26, 0.95);
}

.logo{
  margin: 6rem;
  width: 6%;
}
.menu{
margin: 6rem;
width: 4%;
}

.toolBar {
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 32px;
gap: 16px;
width: 463px;
height: 45px;
background-color: white;
}

.toolBar::placeholder {
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.367);
}