* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

  .fullScreen{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/SplashScreen.png");
  background-repeat: no-repeat;
}

#home {
align-items: center;
} 

#home > button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 22px;
gap: 10px;
position: absolute;
width: 195px;
height: 67px;
left: 685px;
top: 530px;
background: #1D1E1C;
box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
border-radius: 8px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 29px;
color: #FFFFFF;
cursor: pointer;
border: none;
}


#home > img{
position: absolute;
width: 290px;
height: 345px;
left: 639px;
top: 100px;
}

.footer {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 0px 100px;
gap: 160px;

position: absolute;
width: 100%;
height: 30px;
top: 90%;


}

.instagram {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white; 
}

.whatsapp {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
}

.facebook {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
}
